* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 1377px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

img {
    height: auto;
    max-width: 100%;
}

.header__logoimage {
    width: 350px;
}

.header__navlist {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header {
    border: 2px solid #C56677;
    position: relative;
}

.header__navlinkitem {
    color: #C56677;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

a {
    opacity: 1;
    transition: all .3s ease;
}

a:hover {
    opacity: .80;
}

.header__acountlink {
    font-size: 16px;
    color: #C56677;
    text-decoration: none;
    font-weight: 400;
}

.header_flowerimage {
    position: absolute;
    top: 0;
    height: 75%;
    right: 26%;
}

.header {
    border: 2px solid #C56677;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
}

.header__navlistitem {
    position: relative;
}

