* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  line-height: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

img {
  height: auto;
  max-width: 100%;
}

.header__logoimage {
  width: 350px;
}

.header__navlist {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header {
  border: 2px solid #c56677;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff !important;
  z-index: 99;
}

.header__navlinkitem {
  color: #c56677;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

a {
  opacity: 1;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

.header__acountlink {
  font-size: 16px;
  color: #c56677;
  text-decoration: none;
  font-weight: 400;
}

.header_flowerimage {
  position: absolute;
  top: 0;
  height: 75%;
  right: 26%;
}

.header {
  border: 2px solid #c56677;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
}

.header__navlistitem {
  position: relative;
}

.herohome {
  margin-top: 126px;
}

.homehero__swiper {
  width: 100%;
  height: calc(100vh - 220px);
}

.homehero__baked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homehero__bakedtitle {
  color: #c56677;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.homehero__bakedsubtitle {
  color: #898989;
  text-transform: lowercase;
}

.homehero__baked {
  padding: 25px 0;
}

.homehero__swiper .swiper-button-next::after,
.homehero__swiper .swiper-button-prev::after {
  content: none !important;
}

.homehero__swiper .swiper-button-prev {
  left: 10%;
}

.homehero__swiper .swiper-button-next {
  right: 10%;
}

.homehero__swiper .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  background: #fff !important;
  opacity: 0.5 !important;
}

.homehero__swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.homehero__swiper .swiper-horizontal>.swiper-pagination-bullets,
.homehero__swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.homehero__swiper .swiper-pagination-custom,
.homehero__swiper .swiper-pagination-fraction {
  bottom: 50px;
}

.homehero__swiperlinks {
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 99;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.homehero__slideimage {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.smoothee__title {
  color: #f3b83f;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 5px;
}

.smoothee__subtitle {
  color: #c56677;
  font-weight: 400;
  font-size: 35px;
}

.smoothee__header {
  text-align: center;
}

.smoothee {
  padding: 50px 0;
  background: url("../images/Bg_complete.jpg");
  background-position: center CENTER;
  background-size: cover;
}

.smoothee__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
  margin-top: 100px;
}

.smoothee__listitem {
  padding: 0 25px;
  flex: 25%;
  max-width: 25%;
}

.smoothee__listtitle {
  color: #c56677;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.bakes__title {
  color: #f3b83f;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 5px;
}

.bakes__subtitle {
  color: #c56677;
  font-weight: 400;
  font-size: 35px;
}

.bakes__header {
  text-align: center;
}

.bakes__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  margin-top: 60px;
}

.bakes__listitem {
  padding: 0 5px;
  flex: 33.33%;
  max-width: 33.33%;
  margin-bottom: 10px;
  position: relative;
}

.bakes__listitem:hover .bakes__hovertext {
  opacity: 1;
  visibility: visible;
}

.bakes__hovertext {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background: #0000008c;
  height: 100%;
  width: calc(100% - 10px);
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 5px;
}

.bakes__hovertitle {
  font-size: 50px;
  color: #fff;
  position: relative;
}

.bakes__listimage {
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #a35563;
  padding: 50px 0;
}

.footer__input {
  background: none;
  border: none;
  color: #fff;
  border-bottom: 3px solid #fff;
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.footer__input::placeholder {
  color: #fff;
}

.footer__textarea {
  width: 100%;
  border-radius: 30px;
  border: 3px solid #c56677;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px;
}

.footer__btn {
  width: 120px;
  height: 50px;
  background: none;
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.footer__btn:hover {
  background-color: #fff;
  color: #c56677;
}

.seperator {
  background: #fff;
  height: 100%;
  width: 2px;
  display: flex;
  justify-self: center;
  margin: 0 auto;
}

.footer__texttitle {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.footer__textsubtitle {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 25px;
  display: block;
  text-decoration: none;
}

.footer__textsubtitle:hover {
  color: #fff;
}

.footer__textsubtitle:last-child {
  margin-bottom: 0;
}

.footer__textblock {
  margin-bottom: 25px;
}

.footer__social {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer__socialicon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.footer__socialtext {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.download__text {
  color: #c56677;
  font-weight: 400;
  font-size: 30px;
  max-width: 500px;
}

.downloadsection {
  background: url(../images/yellowback.svg);
  background-size: cover;
  background-position: top center;
  padding: 100px 0;
}

.auth_title {
  font-size: 25px;
  font-weight: 500;
  color: #c56677;
  margin-bottom: 25px;
  text-align: center;
}

.auth {
  height: calc(100vh - 105px);
  margin-top: 105px;
  background: url("../images/auth_bg.png");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.auth::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/auth_bg_before.svg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.auth_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.auth_form {
  background: #fff;
  max-width: 500px;
  border: 2px solid #c56677;
  border-radius: 35px;
  padding: 35px 25px;
}

.form-control {
  height: 55px;
  width: 100%;
  border: 2px solid #c56677;
  color: #c56677 !important;
  font-size: 20px;
  font-weight: 400;
  background: #fff;
  border-radius: 50px;
}

.form-control::placeholder {
  color: #c56677 !important;
}

.auth_col {
  margin-bottom: 20px;
}

.auth_col:last-child {
  margin-bottom: 0;
}

.auth_link {
  color: #c56677;
  font-size: 16px;
  display: block;
  font-weight: 400;
  text-decoration: none;
}

.auth_link:hover {
  color: #c56677;
}

.btn-primary {
  background-color: #c56677;
  color: #fff;
  border: 1px solid #c56677;
  border-radius: 70px;
}

.btn-primary:hover {
  background-color: #fff;
  color: #c56677;
  border: 1px solid #c56677;
}

.btn-secondary {
  background-color: #dbdbdb;
  color: #5f5f5f;
  border: 1px solid #dbdbdb;
  border-radius: 70px;
}

.btn-secondary:hover {
  background-color: #5f5f5f;
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
}

.btn-outline-primary {
  background-color: #fff;
  color: #c56677;
  border: 1px solid #c56677;
  border-radius: 70px;
}

.btn-outline-primary:hover {
  background-color: #c56677;
  color: #fff;
  border: 1px solid #c56677;
}

.auth_btn_full {
  width: 100%;
}

.auth_btn {
  height: 55px;
  font-weight: bold;
  font-size: 20px;
}

.auth_link span {
  color: #398dff;
}

.categoriesslider {
  margin-top: 107px;
  background: #e35a5a;
  padding: 25px 0;
}

.categoriesslider_category {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  position: relative;
}

.categoriesslider_categorylink {
  text-decoration: none;
}

.categoriesslider_swiper .swiper-button-next:after,
.categoriesslider_swiper .swiper-button-prev:after {
  content: none !important;
}

.categoriesslider_swiper {
  padding-left: 65px !important;
  padding-right: 0 !important;
}

.categoriesslider_categorylink_active .categoriesslider_category {
  font-weight: bold;
}

.categoriesslider_categorylink_active .categoriesslider_category::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 7px;
  background-color: #fbcb45;
}

.products {
  padding: 60px 0;
  padding-bottom: 10px;
}

.product {
  margin-bottom: 50px;
}

.product_image {
  height: 20vw;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product_imagecontainer {
  position: relative;
}

.product_points {
  background: #e35a5a;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.product_point {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin: 0;
}

.product_heart {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.product_heart_regular {
  color: #fff;
  font-size: 25px;
}

.productdetail_favorite .product_heart_regular {
  color: #000;
  font-size: 40px;
}

.productdetail_favorite .product_heart_solid {
  font-size: 40px;
}

.product_heart_solid {
  color: #e35a5a;
  display: none !important;
  font-size: 25px;
}

.product_heart:hover .product_heart_solid {
  display: block !important;
}

.product_heart:hover .product_heart_regular {
  display: none;
}

.productdetail_favorite {
  position: relative;
  top: 0;
  left: 0;
}

.productdetail_footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product_content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  border: 1px solid #c56677;
}

.product_title {
  font-size: 20px;
  color: #c56677;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.product_description {
  font-size: 16px;
  color: #c56677;
  font-weight: 400;
  margin: 0;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  max-width: 500px;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

.product_quickview {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #c56677;
  color: #c56677;
}

.product_quickview:hover {
  background-color: #c56677;
  border: 1px solid #c56677;
  color: #fff;
}

.product:hover .product_quickviewcontainer {
  opacity: 1;
  visibility: visible;
}

.product_quickviewcontainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.btn_close_sidebar {
  background: unset;
  border: none;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ordersidebar_image {
  height: 100%;
  object-fit: cover;
}

.ordersidebar_imagecontainer {
  position: relative;
  height: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.ordersidebar_content {
  padding: 30px;
}

.ordersidebar_title {
  font-size: 24px;
  color: #c56677;
  font-weight: 500;
  margin-bottom: 15px;
}

.ordersidebar_description {
  font-size: 18px;
  color: #c56677;
  font-weight: 400;
  margin-bottom: 50px;
}

.ordersidebar_price {
  font-size: 20px;
  color: #c56677;
  font-weight: 400;
  margin-bottom: 50px;
}

.ordersidebar_quantity {
  font-size: 20px;
  color: #c56677;
  font-weight: 400;
  margin-bottom: 15px;
}

.ordersidebar_addtocart {
  height: 50px;
  font-size: 20px;
  font-weight: 400;
}

.ordersidebar_quantityincremental {
  padding: 5px;
  border: 3px solid #c56677;
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: space-between;
}

.ordersidebar_quantityincremental button {
  border: none;
  background: unset;
  padding: 5px 10px;
  color: #c56677;
  font-size: 20px;
  font-weight: bold;
}

.ordersidebar_quantityincremental input {
  border: none;
  padding: 0;
  appearance: none;
  width: 35px;
  text-align: center;
  background: none !important;
  color: #c56677;
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
.ordersidebar_quantityincremental input::-webkit-outer-spin-button,
.ordersidebar_quantityincremental input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.ordersidebar_quantityincremental input[type="number"] {
  -moz-appearance: textfield;
}

.productdetail {
  margin-top: 107px;
  padding: 60px 0;
}

.productdetail .product_points {
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 50px;
}

.productdetail .ordersidebar_quantityincremental {
  width: 150px;
  margin-bottom: 20px;
}

.productdetail_title {
  font-size: 40px;
  color: #c56677;
  font-weight: 500;
  margin-bottom: 15px;
}

.productdetail_description {
  font-size: 20px;
  color: #e8a0bd;
  font-weight: 400;
  margin-bottom: 25px;
}

.productdetail_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.productdetail_quantity {
  font-size: 20px;
  color: #c56677;
  font-weight: 400;
  margin-bottom: 15px;
}

.productdetail_addbtn {
  width: 180px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.productdetail_productimagecontainer {
  height: 35vw;
  width: 100%;
  border: 5px solid #c56677;
  border-radius: 15px;
}

.productdetail_productimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.productdetail_similarproducts {
  margin-top: 30px;
}

.productdetail_similar {
  font-size: 20px;
  color: #c56677;
  font-weight: 400;
  margin-bottom: 15px;
}

.productdetail__slideimage {
  width: 150px;
  height: 8vw;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #c56677;
}

.aboutus {
  margin-top: 107px;
  padding: 60px 0;
  overflow-x: hidden;
}

.aboutus_imageleft {
  width: 100%;
  margin-left: -15px;
}

.aboutus_imageright {
  width: 100%;
  margin-left: 10px;
}

.about_contentblock {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.about_contentblock:last-child {
  margin-bottom: 0;
}

.about_title {
  font-size: 50px;
  color: #c56677;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.about_description {
  font-size: 18px;
  color: #e8a0bd;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

.aboutus_imagerightcontainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.aboutus_imageleftcontainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.customcake_imagerightcontainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.customcake_imageleftcontainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__navlinkitem:hover {
  color: #c56677;
}

.customcake {
  margin-top: 107px;
  padding: 60px 0;
  overflow-x: hidden;
}

.customcake_imageleft {
  width: 100%;
  margin-left: -15px;
}

.customcake_imageright {
  width: 100%;
  margin-left: 10px;
}

.customcake_title {
  font-size: 30px;
  color: #c56677;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.customcake_listtitle {
  font-size: 20px;
  color: #c56677;
  font-weight: 700;
  margin-bottom: 15px;
}

.customcake_checkcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customcake_checkcontainer .pretty .state label {
  text-indent: 2em;
  min-width: calc(1em + 3px);
  font-size: 16px;
  color: #c56677;
}

.customcake_checkcontainer .pretty .state label:before {
  border-color: #c56677 !important;
}

.customcake_checkcontainer .pretty.p-default input:checked~.state label:after {
  background-color: #c56677 !important;
}

.customcake_listcontainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.customcake_uploadphototitle {
  font-size: 20px;
  color: #c56677;
  font-weight: 700;
  margin-bottom: 10px;
  max-width: 100%;
  text-align: left;
}

.uploadcustomcake {
  height: 58px;
  width: 100%;
}

.customcake_uploadphoto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.customcake_uploadphotobtn {
  width: 170px;
  border-radius: 6px;
  background: #959595;
  color: #fff;
  border: 1px solid #959595;
  font-size: 16px;
}

.customcake_uploadphotobtn:hover {
  background: #fff;
  color: #959595;
  border: 1px solid #959595;
}

.form-label {
  font-size: 16px;
  color: #c56677;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}

.form-control-space {
  margin-bottom: 30px;
}

.form-control-text {
  height: 150px;
  width: 100%;
  border: 2px solid #c56677;
  color: #c56677 !important;
  font-size: 20px;
  font-weight: 400;
  background: #fff;
  text-align: center;
  border-radius: 50px;
}

.customcake_submitbtn {
  margin-top: 20px;
  width: 170px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
}

.customcake_userdetails {
  margin-top: 50px;
}

.profile {
  margin-top: 107px;
  padding: 60px 0;
  overflow-x: hidden;
}

.profile_myprofiletitle {
  font-size: 30px;
  color: #c56677;
  font-weight: 600;
  margin-bottom: 25px;
  display: block;
}

.profile_leftsection {
  border: 1px solid #c56677;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.profile_uploadprofile {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.profile_editprofile {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 18px;
  color: #c56677;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 50px;
}

.profile_editprofile:hover {
  color: #c56677;
}

.profile_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile_input {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #c56677;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  color: #c56677;
  text-align: center;
}

.profile_profiledata {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile_points {
  background: #c56677;
  padding: 10px;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.profile_point {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 400;
}

.profile_signout {
  font-size: 16px;
  color: #c56677;
  margin-bottom: 0;
  font-weight: 400;
  text-decoration: none;
}

.profile_signout:hover {
  color: #c56677;
}

.profile_rightsection .nav-tabs {
  display: flex;
  gap: 20px;
  border: none;
  margin-bottom: 20px;
}

.profile_rightsection .nav-link {
  background: #fff;
  border: 1px solid #c56677;
  color: #c56677;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  width: 180px;
}

.profile_rightsection .nav-link:hover {
  border: 1px solid #c56677;
}

.profile_rightsection .nav-link.active {
  background: #c56677;
  border: none;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  width: 180px;
}

.orderhistorylist_listitem {
  display: flex;
  align-items: stretch;
  border: 1px solid #c56677;
  padding: 10px;
  gap: 10px;
  margin-bottom: 30px;
}

.orderhistorylist_listitem>div {
  width: 50%;
}

.orderhistorylist_listitemimage {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.orderhistorylist_listitemright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderhistorylist_listitemtitle {
  font-size: 16px;
  color: #c56677;
  margin-bottom: 15px;
  font-weight: 500;
}

.orderhistorylist_listitemprice {
  font-size: 16px;
  color: #c56677;
  margin-bottom: 0;
  font-weight: 400;
}

.orderhistorylist_listitemdate {
  font-size: 16px;
  color: #c56677;
  margin-bottom: 0;
  font-weight: 400;
}

.header__navlinkitem {
  padding: 10px;
}

.header__navlistitem.active .header__navlinkitem {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  background: #c56677;
  padding: 10px;
  border-top-left-radius: 65%;
  border-top-right-radius: 55%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 40%;
}

.header__navlistitem:hover .header__navlinkitem {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  background: #c56677;
  padding: 10px;
  border-top-left-radius: 65%;
  border-top-right-radius: 55%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 40%;
}

.header__navlist {
  margin-bottom: 0;
}

.navbar-expand-xl .navbar-collapse.dontshow {
  display: none !important;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: unset !important;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 15px #00000027;
  padding: 10px;
  left: 0;
}

.header__content {
  position: relative;
}

.navbar-collapse .header__navlist {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10px;
}

.header__acountlink.show {
  display: none !important;
}

.seperator {
  background: #fff;
  height: 410px;
  width: 2px;
  display: flex;
  justify-self: center;
  margin: 0 auto;
}

.smoothee__listimage {
  width: 100%;
}

.smoothee__listitem {
  margin-bottom: 0;
}

.cartsidebar_imagecontainer .btn_close_sidebar {
  color: #c56677;
}

.cartsidebar_content {
  margin-top: 80px;
  padding: 0 25px;
}

.cartsidebar_title {
  color: #c56677;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 30px;
}

.cartsidebar_orderitem {
  display: flex;

  align-items: stretch;
  border: 1px solid #c56677;
  padding: 5px;
}

.cartsidebar_orderitem_left {
  display: flex;
  gap: 10px;
}

.cartsidebar_orderitemimage {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.cartsidebar_orderitem_lefttextblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartsidebar_orderitemtitle {
  color: #c56677;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.cartsidebar_orderitemprice {
  color: #c56677;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.cartsidebar_orderitem_left {
  flex: 1 1 80%;
}

.cartsidebar_orderitem_right {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.btn_close_orderitem {
  background: unset;
  border: none;
  font-size: 30px;
  color: #c56677;
}

.cartsidebar_orderiteminput .ordersidebar_quantityincremental {
  padding: 0px;
  border: 3px solid #c56677;
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: space-between;
}

.cartsidebar_orderitem {
  margin-bottom: 10px;
}

.cartsidebar_orderlist {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.cartsidebar_input {
  color: #afafaf !important;
  font-size: 16px;
  padding: 0 25px;
  margin-bottom: 20px;
}

.cartsidebar_input::placeholder {
  color: #afafaf !important;
}

.cartsidebar_checkcontainer {
  margin-bottom: 15px;
}

.selectcheckout {
  display: flex;
  gap: 10px;
  border-top: 1px solid #c56677;
  border-bottom: 1px solid #c56677;
  padding-top: 15px;
  padding-bottom: 15px;
}

.selectcheckout_btn {
  height: 50px;
  border-radius: 100px;
  font-size: 20px;
  width: 50%;
  font-weight: 400;
}

.carttotal {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  gap: 15px;
}

.carttotal_title {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

.carttotal_points {
  font-size: 16px;
  color: #c56677;
  font-weight: 400;
  margin-bottom: 0;
}

.carttotal_price {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-bottom: 0;
}

.cartcoupon {
  margin-top: 15px;
  margin-bottom: 15px;
}

.cartcoupon_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #c56677;
}

.cartcoupon_btn {
  width: 100%;
  font-size: 20px;
  height: 55px;
  font-weight: 600;
}

.cartcheckout_btn {
  width: 100%;
  font-size: 20px;
  height: 55px;
  font-weight: 600;
  margin-bottom: 25px;
}

.productdetail_similarproducts-mobile {
  display: none;
}

.myloader {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: center;
}

.header__acountlink:hover {
  color: #c56677;
}

.homehero_ordernow {
  width: 100px;
}

.homehero_whatsapp {
  width: 90px;
}

.successorder {
  margin-top: 125px;
  padding: 100px 0;
}

.successorder__title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #c56677;
}

.successorder__subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  color: #e8a0bd;
  max-width: 600px;
}

.successorder__btn {
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.smoothee__listitem:nth-child(2) img {
  width: 70%;
}

.smoothee__listitem:nth-child(3) img {
  width: 84%;
  margin-top: 67px;
}

.smoothee__listitem img {
  transform: scale(1);
  transition: all .3s ease-in-out;
}


.smoothee__listitem:hover img {
  transform: scale(1.1);
}

@media (max-width: 1450px) {
  .successorder {
    margin-top: 94px;
  }

  .homehero__swiper {
    width: 100%;
    height: calc(100vh - 190px);
  }

  .header__logoimage {
    width: 100%;
    max-width: 200px;
  }

  .header__navlinkitem {
    padding: 0;
    font-size: 14px;
  }

  .herohome {
    margin-top: 94px;
  }

  .smoothee__listtitle {
    font-size: 35px;
  }
}

@media (max-width: 1200px) {
  .product_image {
    height: 25vw;
  }

  .header__nav.dontshow {
    display: none !important;
  }

  .navbar-expand-xl .navbar-collapse.dontshow.show {
    display: flex !important;
  }

  .header__acountlink.dontshow {
    display: none !important;
  }

  .download__text {
    max-width: 100%;
    text-align: center;
  }

  .downloadsection_col {
    margin-bottom: 30px;
  }

  .downloadsection__image {
    width: 100%;
  }

  .bakes__hovertitle {
    font-size: 40px;
    color: #fff;
    position: relative;
  }

  .bakes__listitem {
    padding: 0 5px;
    flex: 50%;
    max-width: 50%;
    margin-bottom: 10px;
    position: relative;
  }

  .smoothee__listitem {
    padding: 0 25px;
    flex: 50%;
    max-width: 50%;
  }

  .smoothee__listitem {
    margin-bottom: 50px;
  }

  .homehero__swiper {
    width: 100%;
    height: 600px;
  }

  .footer_column {
    margin-bottom: 30px;
  }

  .categoriesslider {
    margin-top: 78px;
  }

  .herohome {
    margin-top: 95px;
  }

  .auth {
    height: calc(100vh - 78px);
    margin-top: 78px;
  }

  .productdetail {
    margin-top: 78px;
  }

  .productdetail_title {
    font-size: 30px;
  }

  .productdetail_description {
    font-size: 18px;
  }

  .product_point {
    font-size: 16px;
  }

  .productdetail_quantity {
    font-size: 18px;
  }

  .productdetail_addbtn {
    font-size: 16px;
  }

  .aboutus {
    margin-top: 78px;
  }

  .customcake {
    margin-top: 78px;
  }

  .about_contentblock:last-child {
    margin-bottom: 30px;
  }

  .about_contentblock:first-child {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .homehero__swiper {
    width: 100%;
    height: calc(100vh - 190px);
  }

  .smoothee__listitem:nth-child(2) img {
    width: 100%;
  }

  .smoothee__listitem:nth-child(3) img {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .productdetail_similarproducts {
    margin-top: 50px;
  }

  .productdetail_leftbottom {
    width: 100%;
  }

  .productdetail_similar {
    font-size: 25px;
    color: #c56677;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .customcake_imageleftcontainer {
    margin-bottom: 30px;
  }

  .product_image {
    height: 30vw;
  }

  .productdetail_content .row {
    flex-direction: column-reverse;
  }

  .productdetail__slideimage {
    height: 15vw;
  }

  .productdetail_left {
    margin-top: 50px;
  }

  .productdetail_productimagecontainer {
    height: 60vw;
  }

  .customcake_container {
    padding: 0 15px;
  }

  .customcake_imagerightcontainer {
    margin-top: 30px;
  }

  .customcake_listcontainer {
    flex-wrap: wrap;
    gap: unset;
    margin: 0 -15px;
  }

  .customcake_list {
    max-width: 25%;
    flex: 25%;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .customcake_uploadphoto {
    margin-top: 0;
  }

  .customcake_imageleft {
    width: 100%;
    margin-left: -15px;
    max-width: 320px;
  }

  .customcake_imageright {
    width: 100%;
    margin-right: 0px;
    max-width: 320px;
    margin-left: auto;
  }

  .productdetail_similarproducts-desktop {
    display: none;
  }

  .productdetail_similarproducts-mobile {
    display: block;
  }
}

@media (max-width: 768px) {

  .smoothee__listitem:nth-child(4) img {
    margin-left: 40px;
  }

  .smoothee__listitem:nth-child(1) img {
    margin-left: 40px;
  }

  .customcake_list {
    max-width: 50%;
    flex: 50%;
    padding: 0 10px;
  }

  .productdetail__slideimage {
    height: 20vw;
  }

  .productdetail {
    padding: 30px 0;
  }

  .products {
    padding: 30px 0;
    padding-bottom: 0;
  }

  .product_image {
    height: 70vw;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header__content {
    position: relative;
    gap: 15px;
  }

  .header__right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
  }

  .footer {
    padding: 30px 0;
  }

  .downloadsection {
    padding: 50px 0;
  }

  .download__text {
    font-size: 24px;
  }

  .bakes__listitem {
    padding: 0 5px;
    flex: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    position: relative;
  }

  .bakes__hovertitle {
    font-size: 30px;
  }

  .bakes__list {
    margin-top: 30px;
  }

  .bakes__title {
    font-size: 30px;
  }

  .bakes__subtitle {
    font-size: 20px;
  }

  .smoothee__title {
    font-size: 30px;
  }

  .smoothee__subtitle {
    font-size: 20px;
  }

  .smoothee__listitem {
    padding: 0 25px;
    flex: 100%;
    max-width: 100%;
  }

  .smoothee__list {
    margin-top: 30px;
  }

  .smoothee__listtitle {
    font-size: 30px;
  }

  .homehero_ordernow {
    width: 80px;
  }

  .homehero_whatsapp {
    width: 70px;
  }

  .homehero__bakedtitle {
    font-size: 30px;
  }

  .homehero__swiper {
    width: 100%;
    height: 500px;
  }

  .homehero__swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #fff !important;
    opacity: 0.5 !important;
  }

  .auth_title {
    font-size: 20px;
  }

  .form-control {
    font-size: 16px;
  }

  .auth_btn {
    font-size: 18px;
  }

  .categoriesslider_swiper .swiper-button-prev,
  .categoriesslider_swiper .swiper-rtl .swiper-button-next {
    display: none;
  }

  .categoriesslider_swiper .swiper-button-next,
  .categoriesslider_swiper .swiper-rtl .swiper-button-prev {
    display: none;
  }

  .categoriesslider_swiper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .aboutus {
    padding: 30px 0;
  }

  .customcake {
    padding: 30px 0;
  }

  .about_title {
    font-size: 30px;
  }

  .about_description {
    font-size: 16px;
  }

  .customcake_submitbtn {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .customcake_list {
    max-width: 100%;
    flex: 100%;
    padding: 0 10px;
  }

  .customcake_title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .productdetail_addbtn {
    font-size: 14px;
  }

  .homehero__bakedtitle {
    font-size: 22px;
    text-align: center;
  }

  .cartsidebar_orderitemimage {
    height: 90px;
    width: 90px;
    object-fit: cover;
  }

  .cartsidebar_orderitemtitle {
    color: #c56677;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .cartsidebar_orderitemprice {
    color: #c56677;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .ordersidebar_quantityincremental button {
    border: none;
    background: unset;
    padding: 0px 6px;
    color: #c56677;
    font-size: 20px;
    font-weight: bold;
  }

  .selectcheckout_btn {
    height: 45px;
    border-radius: 100px;
    font-size: 16px;
    width: 50%;
    font-weight: 400;
  }

  .footer_contactbtn {
    justify-content: flex-start !important;
  }
}